<page-404>

  <div class="error-block">
    <h1>
      <img src="/assets/media/icon.svg" class="icon"/>
      404
      <br>
      <small>
        Page not found
      </small>
    </h1>

  </div>

</page-404>