{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "targets":  {"node": "current"}
        }
      ]
    ],
    "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "@": "./src",
            "@@": "./src/pages",
            "tags": "./src/tags",
            "lib": "./src/lib"
          }
        }],
        ["@babel/plugin-transform-modules-commonjs", {
          "allowTopLevelThis": true
        }],
        "@babel/plugin-proposal-class-properties"
      ],
  }