{
  "presets": [
    ["@babel/preset-env",
    {
      "modules": false,
      "targets":  {"node": "current"}
    }],
    "@babel/preset-react"
    ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src",
        "@@": "./src/pages",
        "lib": "./lib",
        "assets": "./assets",
        "client": "./src/client.js"
      }
    }],
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "react-ssr"
  ]
}