// Global styles
@import 'node_modules/spectre.css/src/spectre.scss';
@import 'node_modules/spectre.css/src/spectre-icons.scss';
@import 'node_modules/spectre.css/src/spectre-exp.scss';

.btn-hero {
    border: 1px double;
    border-radius: 46px;
    margin-top: 46px;
}

.home-links {
    margin-top: 66px;
    border-top: 1px dotted bisque;
    padding: 12px;
    a {
        margin: 6px;
        color: burlywood;
    }
}

.home-header {
    text-align: right;
    padding: 24px;
    a {
        margin: 6px;
        color: burlywood;
    }
}

.error-block {
    display: flex;
    width: 100%;
    height: 99vh;
    justify-content: center;
    align-items: center;
    .icon {
        margin-bottom: 6px;
    }
}

.form-header {
    padding: 24px;
    position: absolute;
    a {
        margin: 6px;
        color: burlywood;
    }
}
.form-block {
    width: 260px;
    display: flex;
    flex-direction: column;

    .logo { height: 50px; }
    .logo-text { 
        position: absolute;
        margin: 6px;
        color: #426bff;
    }
    input[type='text'], input[type='password'], .btn {
        border-radius: 26px;
    }
    .btn{
        height: 30px;
        padding: 2px !important;
        margin-top: 12px;
    }
    h2 {
        margin-bottom: 26px;
    }
    .links {
        text-align: center;
        display: block;
        width: 100%;
        padding: 6px;
        a {
            margin: 6px;
            color: burlywood;
        }
    }
    .scaledown {
        transform: scale(.8) translateX(-30px);
        width: 120%;
    }
}
.center-block {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-input-hint {
        margin: 0px;
    }
}

.centered-block {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 24px;
    
    .header {
        margin-bottom: 56px;
        display: flex;
        align-items: center;
        .nav {
            margin-left: 16px;
        }
        .btn {
            border-radius: 46px;
            height: 46px !important;
            margin: 2px;
            padding: 9px 9px !important;
        }
    }

    .example {
        box-shadow: 1px 1px 18px #ccc;
        border-radius: 16px;
    }
}

a.column {
    color: #333;
    text-decoration: none;
    &:hover {
        color: rgb(0, 5, 80);
        text-decoration: none !important;
        text-decoration-style: none !important;
    }
    .card {
        border-radius: 26px;
        -moz-transition: all .31s;
        -o-transition: all .31s;
        -webkit-transition: all .31s;
        transition: all .31s;
        min-height: 200px;
        box-shadow: 1px 1px 16px #ddd;
        border-width: 0px;
    }
    .card:hover {
        border-radius: 16px;
    }
}