<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="state" content='<%- state %>' />
    <meta name="attributes" content='<%- shared %>' />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <script src="/assets/pages/index.js"></script>
    <%- document.head.innerHTML %>
  </head>
  <body>
    <%- output %>
  </body>
</html>