<chat-example>
  <example link="https://github.com/nesterow/frontless/blob/master/components/examples/chat.riot">
    <chat></chat>
  </example>

  <script>
    import Chat from 'examples/chat.riot'
    import Example from  'examples/example.riot'

    export default () => ({
      title: "Frontless - A Chat example",
      components: {
        Chat,
        Example
      },
    })
  </script>
</chat-example>