<chat-example>
  <example>
    <chat></chat>
  </example>

  <script>
    import Chat from 'examples/chat.riot'
    import Example from  'examples/example.riot'

    export default () => ({
      components: {
        Chat,
        Example
      },
    })
  </script>
</chat-example>