<random-number>
  
  <example link="https://github.com/nesterow/frontless/blob/master/components/examples/random.riot">
    <random />
  </example>

  <script>
    import Random from 'examples/random.riot'
    import Example from  'examples/example.riot'

    export default () => ({
      title: "Frontless - Hello World - random number example",
      components: {
        Random,
        Example
      },
    })
  </script>
</random-number>