<todo-example>
  <example>
    <todo-list />
  </example>

  <script>
    import TodoList from 'examples/todo/todo-list.riot'
    import Example from  'examples/example.riot'

    export default () => ({
      components: {
        TodoList,
        Example
      },
    })
  </script>
</todo-example>