<todo-example>
  <example link="https://github.com/nesterow/frontless/tree/master/components/examples/todo">
    <todo-list />
  </example>

  <script>
    import TodoList from 'examples/todo/todo-list.riot'
    import Example from  'examples/example.riot'

    export default () => ({
      title: "Frontless - Todo list example",
      components: {
        TodoList,
        Example
      },
    })
  </script>
</todo-example>