<guide>
  <html style={{
    padding: 24
  }}>
    <section>
      <header class="navbar">
        <section class="navbar-section">
          <a href="/" class="navbar-brand mr-2">Home</a>
          <a href="/" class="btn btn-link">Docs</a>
          <a href="/" class="btn btn-link">GitHub</a>
        </section>
        <section class="navbar-section">
          <div class="input-group input-inline">
            <input class="form-input" type="text" placeholder="search">
          </div>
        </section>
      </header>
      <div class="container" style={{width: '90%'}}>
        <div class="panel" style={{margin:48}}>
          <div class="btn-group btn-group-block">
            <a href="/playground" class={{btn: true, active: pathIs('/playground')}}>SSR</a>
            <a href="/playground/form" class={{btn: true, active: pathIs('/playground/form')}}>Form</a>
            <a href="/playground/chat" class={{btn: true, active: pathIs('/playground/chat')}}>Chat</a>
            <a href="/playground/routing" class={{btn: true, active: pathIs('/playground/routing')}}>Routing</a>
          </div> 
        </div>
        <div class="columns">
          <div class="column" style={{padding: 48}}>
            <yield from="example"/>
          </div>
          <div class="column">
            <yield from="code"/>
          </div>
        </div>
      </div>
    </section>
    <yield to="head">
      <link href="https://github.githubassets.com/assets/gist-embed-a9a1cf2ca01efd362bfa52312712ae94.css" type="text/css" rel="stylesheet">
      <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bvanderhoof/gist-embed/dist/gist-embed.min.js" defer></script>
    </yield>
  </html>
  <script>
    this.unwrapAsync();
  </script>
</guide>