<html>
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" name="state" content={ JSON.stringify(this.opts.req.initialState) }/>
    <meta charset="UTF-8" name="root-path" content={this.opts.req.fullPath} />
    <title>{parent.opts.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="/dist/boot.js" defer></script>
    <yield from="head"/>
    <yield from="styles"/>
    <script src="/dist/main.js" defer></script>
  </head>
  <body>
    <yield/>
  </body>
  <yield from="scripts"/>
  <script>
  </script>
</html>
