<playground-chat>
  <playground>
    <chat slot="example" />
  </playground>
  <script>
    
    import Playground from './base.riot'
    import Chat from 'components/examples/chat.riot'
    export default {
      layout: 'playground',
      components: {
        Playground,
        Chat
      }
    }
  </script>
</playground-chat>