<playground-docs>
  
  <gist 
    username="nesterow" 
    gist="97ecfabf8d6919b88eec1168c010dc92"
    files={[
      {file: 'intro.md'}
    ]} /> 

  <script>
    
    import Gist from 'components/gist.riot'

    export default {
      layout: 'playground',
      components: {
        Gist
      }
    }
  </script>
</playground-docs>