<playground-form>
  <playground>
    <h2 slot="example">
      form
    </h2>
  </playground>
  <script>
    
    import Playground from './base.riot'

    export default {
      layout: 'playground',
      components: {
        Playground,
      }
    }
  </script>
</playground-form>