<playground-index>
  <playground>
    <h2 slot="example">
      playground
    </h2>
  </playground>
  <script>
    
    import Playground from './base.riot'

    export default {
      layout: 'playground',
      components: {
        Playground,
      }
    }
  </script>
</playground-index>