<playground-todo>
  <playground>
    <todo-list slot="example">
    </todo-list>
  </playground>
  <script>
    
    import Playground from './base.riot'
    import TodoList from 'components/examples/todo/todo-list.riot'
    export default {
      layout: 'playground',
      components: {
        Playground,
        TodoList
      }
    }
  </script>
</playground-todo>