body[data-theme="white"] {
  @import url('https://fonts.googleapis.com/css?family=Exo+2');
  .btn {
    font-family: "Exo 2", sans-serif;
    border-bottom: 3px solid #5755d9;
    box-shadow: 1px 1px 3px #ccc;
    border-radius: 0px;
  }
}